{{>header}}
{{>navbar}}

    <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
        <div class="container-form">
            <p class="h2 text-center mb-5 text-dark">Edit Blog Post</p>

            <form action="/edit-blog/{{id}}" method="POST" enctype="multipart/form-data">
                
                <div class="mb-3">
                  <label for="title" class="form-label text-dark">Title</label>
                  <input value="{{title}}" type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label text-dark">Content</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="content">{{content}}</textarea>
                </div>
                <div class="mb-5">
                    <label for="inputImage" class="form-label text-dark">Image</label>
                    <input class="form-control" type="file" id="inputImage" name="inputImage">
                </div>
                
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button class="btn btn-primary bg-orange" type="submit">Submit</button>
                </div>
                <input value="{{image}}" type="hidden" class="form-control" name="oldImage">
              </form>
        </div>

    </div>

{{>footer}}
